<html>
<head>
 <link rel="stylesheet" type="text/css" href="/home/kartikey/Desktop/project/reviewransack/app/assets/stylesheets/uploads_index.css">
<style type="text/css">
  
  body{
    /*background-image: url("/uploads/images/w3.jpg");
     background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;*/
     
     background-color: #f2f2f2;
  }

</style>
</head>
<body>

<br>
<br>
<br>
<br>
<br>
<!-- Trigger/Open The Modal -->
<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploads.each do |upload| %>

     
     <% @follows.each do |follow|%>
        <%if (current_user.id == follow.user_id) && (upload.user_id == follow.follower)%>

      <div style="border-style: solid; background-color: white;border-top-width:20px; border-bottom-width: 20px; border-color: #2c3e50 ;padding: 5px; height: 530px;border-radius: 5px; margin-left: 10px; margin-right: 10px; padding-left: 10px;"  >
      <div  style="float: left;">
 
   <%x=0%>
    <%@accounts.each do |acc|%>
         <%if upload.user_id == acc.user_id%>
           <img src = "<%=acc.profilepic_url%>" style="width: 60px; height: 60px;  border-radius: 30px; float: left;">
       <%x=1%>  
     <%break%>
    <%end%>
    <%end%>
    <%if x!=1%> 
           <img src = "/default/defaultpic.jpg" style="width: 60px; height: 60px;  border-radius: 30px; float: left;">
     <%end%>     


        <br>
        <h5 data-turbolinks="false" style="color: red; margin-left: 80px; margin-top: 0px; text-transform: capitalize; font-weight: bold; font-size: 18px;"><b><%=link_to upload.user.username,user_path(upload.user) %></b></h5>
         <h6 style="margin-left: 80px; color: grey;"><span class="glyphicon glyphicon-time"></span>&nbsp<%=time_ago_in_words(upload.created_at)%>&nbspago</h6>
        <br>
        
        <%if upload.avatar_url.split('.')[1] == "jpg"%>
        <img class="myimg" src = "<%= upload.avatar_url %>" style = "width: 500px; height: 300px; box-shadow: 10px 10px 5px gray;" >
        <%elsif upload.avatar_url.split('.')[1] == "mp4"%>
        <video class="myimg" src = "<%= upload.avatar_url %>" style = "width: 500px; height: 300px; box-shadow: 10px 10px 5px gray;" controls style = "width: 500px; height: 300px;" type = "video/mp4" ></video>
        <%elsif upload.avatar_url.split('.')[1] == "mp3"%>          
        <audio class="myimg" style = "width: 500px; height: 300px; box-shadow: 10px 10px 5px gray;" controls>
        <source  src= "<%= upload.avatar_url %>" type="audio/mpeg">
        </audio>
        <%end%>
        <br>
        <br>
        <br>
        <pre style="background-color: white;"><%= rating_for upload, 'rating', star: 10 %></pre>
      </div>
      
      <br>
      <br>
      <br>      
      
      
      
      <h2 style="color: #3f5e7c;font-weight: bold; ">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<u>Reviews&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</u></h2>
      <br>
      <div class="rating" style="margin-left: 580px; margin-top: 0px;width: 360px; height: 300px; overflow: scroll; padding: 5px;">
            <% @rates.each do |rate| %>
       <% if rate.rateable_id == upload.id%>
       <% @users.each do |user|%>
         <% if user.id == rate.rater_id %>
        <div class="readonly-star">
        <pre style="border-radius: 20px; color: black; font-size: 15px; width: 300px; text-transform: capitalize;"><%= user.username%><%=rating_for_user upload, user, 'rating', star: 10%></pre>
          
        </div>   
         <%end%>
         
       <%end%> 

       <%end%>



       <%end%>
       </div>
       
      
             
        </div> 
        <%end%>
        <%end%> 


        
        <br>
       
       <div class="parent" id="big">
          <span class="closer">&times;</span>
          <img class="image-content" id="img01">
          <div id="stars"></div>
       </div>
       


    <% end %>
  </tbody>
</table>





<script>


$(document).ready(function(){
    $(".readonly-star .star").each(function() {
      $(this).raty('set', { readOnly: true });
    });
  });

var bigdiv = document.getElementById('big');
var final = document.getElementById("stars");
// Get the image and insert it inside the modal - use its "alt" text as a caption
var childimg = document.getElementsByClassName('myimg');
var childstars = document.getElementsByClassName("rating");
console.log(childstars[0].innerHTML);

console.log(childimg[0]);
console.log(childimg[1]);

var yoimg = document.getElementById("img01");

for (var j = 0; j < childimg.length; j++) {

childimg[j].onclick = function(){
    bigdiv.style.display = "block";
    yoimg.src = this.src;

//childstars.style.display = "block";
final.innerHTML =childstars[1].innerHTML; 
}

}
var spany = document.getElementsByClassName("closer")[0];

spany.onclick = function() {
    bigdiv.style.display = "none";
}
// Get the <span> element that closes the modal



// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
    console.log("bfjlbsh")
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>

